### 웹에 들어갈 데이터프레임 만들기

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load the data
data = pd.read_csv('../data/oct_data.csv')
data

       c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0           69.4       180       69.5       0.0       70.3
1           69.4       179       69.4       0.0       70.4
2           69.5       176       69.4       0.0       70.6
3           69.4       173       69.6       0.0       70.7
4           69.5       173       69.4       0.0       70.8
...          ...       ...        ...       ...        ...
29646       69.7       191       67.6       0.0       67.3
29647       69.8       191       67.5       0.0       67.0
29648       69.7       191       67.4       0.0       66.8
29649       69.7       191       67.3       0.0       66.7
29650       69.8       191       67.2       0.0       66.6

[29651 rows x 5 columns]

In [7]:
# scale_pv가 2 초과 4 미만인 데이터만 추출
data = data[(data['scale_pv'] > 2) & (data['scale_pv'] < 4)]
data.describe()

         c_temp_pv     k_rpm_pv    n_temp_pv     scale_pv    s_temp_pv
count  1405.000000  1405.000000  1405.000000  1405.000000  1405.000000
mean     69.762349   187.269751    67.540214     3.047580    67.409181
std       0.351653     5.790426     0.929310     0.032548     1.110989
min      68.600000   144.000000    66.100000     2.850000    65.400000
25%      69.500000   187.000000    66.800000     3.030000    66.500000
50%      69.700000   188.000000    67.300000     3.050000    67.300000
75%      70.000000   189.000000    68.000000     3.060000    68.200000
max      70.700000   202.000000    70.600000     3.280000    71.100000

In [ ]:
# [ 구상 ]
# 1. 3가지 temp와 초기 RPM으로 모델1을 통해 pred_scale_pv를 예측
# 2. +0.05 scale_pv 당 -1 rpm의 비율로 rpm을 조정값을 계산
# 3. 다음 인스턴스에 temp와 조정된 rpm 반영

# 1. 모델1