### 웹에 들어갈 데이터프레임 만들기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data

   c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0       69.4       180       69.5       0.0       70.3
1       69.4       179       69.4       0.0       70.4
2       69.5       176       69.4       0.0       70.6
3       69.4       173       69.6       0.0       70.7
4       69.5       173       69.4       0.0       70.8

In [ ]:
#